* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: indianred;
}

.header {
  background-color: yellow;
  padding: 10px;
}
@media screen and (min-width: 400px) {

  .planes{
   grid-template-areas:
   " for "
     " grip "
     "drak"
     " lan"
     " tun"
     "vig"
     " vig";
  }
@media screen and (min-width: 600px) {
  
 .planes{
  grid-template-areas:
  " for for"
    " grip drak"
    " lan tun"
    "vig vig";
 }
}
.image img {
  transition: 1s;
max-width: 100%;
}
.image img:hover {
  background-color: blueviolet;
  padding: 0px 0px 200px 0px;
  transition: 1s;
  display: flex;
  justify-content: center;
}
.fortmation{
  grid-area: for;
}
.gripen {
  grid-area: grip;
}
.draken {
  grid-area: drak;
}
.lansen {
  grid-area: lan;
}
.tunnan {
  grid-area: tun;
}
.viggen {
  grid-area: vig;

}
/* .planes {
  display: flex;
  flex-direction: column;

    grid-auto-rows: 270px;
    width: max-content;
  display: grid;
    padding: 150px;
} */