* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 0, 0);
}

.header {
  background-color: rgb(0, 255, 21);
  padding: 10px;
}
.planes {
  grid-template-areas:
    " for "
    " grip "
    "drak"
    " lan"
    " tun"
    "vig"
    " vig";
}
@media screen and (max-width: 400px) {
  .fortmation {
    background-image: url(img/SvenskaStridsflygplan400x300.webp);
  }
  .gripen {
       display: block;
       width: 400px;                  
  height: 300px; 
    background-image: url(img/gripen400x300.webp);
  }
  .draken {
    background-image: url(img/draken400x300.webp);
  }
  .lansen {
    background-image: url(img/lansen400x300.webp);
  }
  .tunnan {
    background-image: url(img/tunnan2-400x300.webp);
  }
  .viggen {
    background-image: url(img/viggen400x300.webp);
  }
  .planes {
    grid-template-areas:
      " for "
      " grip "
      "drak"
      " lan"
      " tun"
      "vig"
      " vig";
  }
}
@media  (min-width:401px) and (max-width: 600px) {
  .fortmation{
    background-image: url(img/SvenskaStridsflygplan600x400.webp);
  }
  .gripen{
      display: block;
       width: 600px;                  
  height: 400px; 
    background-image: url(img/gripen600x400.webp);
      background-size: cover;       
  background-position: center;  
  text-decoration: none;  
  }
  .draken{
    background-image: url(img/draken600x400.webp);
  }
  .lansen{
    background-image: url(img/lansen600x400.webp);
  }
  .tunnan{
    background-image: url(img/tunnan600x400.webp);
  }
  .viggen{
    background-image: url(img/viggen600x400.webp);
  }
  .planes {
    grid-template-areas:
    /* "for"
    "grip"
    "drak"
    "lan"
    "tun"
    "vig" */
      " for for"
      " grip drak"
      " lan tun"
      "vig vig";

  }
}
@media screen and (min-width: 800px) {

}
/* }
.image img {
  transition: 1s;
max-width: 100%;
}
.image img:hover {
  background-color: blueviolet;
  padding: 0px 0px 200px 0px;
  transition: 1s;
  display: flex;
  justify-content: center;
} */

.fortmation {
  grid-area: for;

  height: 300px;
  padding: 1px 10px;
  margin: 10px;
}

.gripen {
  grid-area: grip;
  height: 300px;
  padding: 1px 10px;
  margin: 10px 0px;


}
.draken {
  grid-area: drak;
  height: 300px;
  padding: 1px 10px;
  margin: 10px;
}
.lansen {
  grid-area: lan;
  height: 300px;
  padding: 1px 10px;
  margin: 10px;
}
.tunnan {
  grid-area: tun;
  height: 300px;
  padding: 1px 10px;
  margin: 10px;
}
.viggen {
  grid-area: vig;
  height: 300px;
  padding: 1px 10px;
  margin: 10px;
}
/* .planes {
  display: flex;
  flex-direction: column;

    grid-auto-rows: 270px;
    width: max-content;
  display: grid;
    padding: 150px;
} */
  /* .fortmation{
    background-image: url();
  }
  .gripen{
    background-image: url();
  }
  .draken{
    background-image: url();
  }
  .lansen{
    background-image: url();
  }
  .tunnan{
    background-image: url();
  }
  .viggen{
    background-image: url();
  } */