* {
  box-sizing: border-box;
}
body {
  border: solid;
}
.header {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 15px;
  align-items: center;
  flex-direction: column;
}
.text {
  font-size: 10px;
  max-width: 100%;
  padding: 5px;
  background-color: white;
}
.text1 {
  grid-area: text1;
}
.text2 {
  grid-area: text2;
}
.text3 {
  grid-area: text3;
}
.text4 {
  grid-area: text4;
}
.text5 {
  grid-area: text5;
}
img {
  max-width: 100%;
}
.hangar {
  grid-area: hang;
}
.saab {
  grid-area: saab;
}
.kalla {
  grid-area: kall;
}
.terri {
  grid-area: terr;
}
.flyg {
  grid-area: flyg;
}
.information {
  display: grid;
  display: flex;
  justify-items: center;
  align-items: center;
}
@media screen and (min-width: 0px) {
  .information {
    display: grid;
    grid-template-areas:
      "text1 saab"
      "kall text2"
      "text3 terr"
      "flyg text4"
      "hang hang";
    background-size: cover;
    background-position: center;
  }
}
